.MuiTypography-h6 {
    font-size: 1.25rem;
    color:"black !important";
    font-family: Verdana, sans-serif !important;
    font-weight: 800 !important;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.ag-theme-alpine .ag-root-wrapper {
    border:none !important;
    border-color: white !important;
    border-radius: 25px !important;
    background-color: white !important;
}
.ag-theme-alpine {
    --ag-foreground-color: black;
    --ag-header-foreground-color: black;
    --ag-header-background-color: white;
    --ag-odd-row-background-color: white;
    --ag-header-column-resize-handle-color: black;
    --ag-font-size: 17px;
    --ag-font-family: monospace;
}
